body{
    background-color: #354e71;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: 0.75s;
    display:flex;
    justify-content: center;
}

.botonCron{
    background: #bada55;
    width: 30%;
    border: 6px solid black;
    border-style: double;
    border-radius: 30px;
    vertical-align: middle;
    font: 120% solid Helvetica, sans-sheriff;
}

.botonCron:active{
    width: 29.8%;
    margin-left:0.2%;
}

.botonCronActivo{
    background: #778b36;
    width: 30%;
    border: 6px solid black;
    border-style: double;
    border-radius: 30px;
    vertical-align: middle;
    font: 120% solid Helvetica, sans-sheriff;
    padding: 0px;
}

#cronometro{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 40%;
}

#botones{
    display:flex;
    justify-content:center;
}

#cambioTema{
    width: 8vw;
    padding-top: 1%;
    align-self: center;
}

#intervalos{
    text-align: center;
    color: white;
    font: 180% solid helvetica;

}


/* Dark mode :B */
.dark{
    background-color: #151f2d;
    width: 100%;
    height: 100%;
    margin: 0;
    transition: 0.75s;
}

.buttonDark{
    width: 8vw;
    height: 2vw;
    background-color: #151f2d;
    border: none;
    border-radius: 30px;
    font: 85% solid Helvetica, sans-sheriff;
    color: #ff3232;
}

/* Light mode @:) */

.buttonLight{
    width: 8vw;
    height: 2vw;
    background-color: #354e71;
    border: none;
    border-radius: 30px;
    font: 85% solid Helvetica, sans-sheriff;
    color: white;
}

#counter{
    text-align: center;
    color: white;
    font: 7vw solid helvetica;
    margin-bottom: 0px;
}

@media screen and (max-width: 900px) and (min-width: 0px){
    #botones{
        flex-direction: column;
    }
    #botones button{
        width: 100%;
    }
    #cambioTema{
        width: 20vw;
        height: 5vh;
        justify-content: center;;
    }
    #cambiarTema{
        width: 20vw;
        height: 5vh;
    }
}